.welcome {
    height : 100vh;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    background-color: #007cfd;
    text-align: center;
    height : 64px;
    font-size : 26px;
    color : #fff;
    line-height: 64px;
}
.chat_container .conversation_title{
    text-align: center;
    height : 64px;
    font-size : 23px;
    line-height: 64px;
    border-bottom: 1px solid #dbdbdb;
}
.chat_container {
    height: 100vh;
}
.chat_container .main {
    height : calc(100vh - 64px);
    display : flex;
}
.chat_container .conversation_detail {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;

}
.chat_container .list_messages {
    flex-grow: 1;
    padding : 10px;
    overflow-y: auto;
}
.chat_container #send_messages_form {
    position: relative;
}
#send_messages_form button {
    position: absolute;
    border : none;
    background : transparent ;
    color : #007cfd;
    right: 10px;
    top: 0px;
    width : 3%;
    height: 100%;
}
#send_messages_form .input_wrapper {
    margin: 0;
}
#send_messages_form .input_wrapper input {
    padding: 22px 20px ; 
    border-left: none;
}
.list_messages .message .content {
    width: max-content; 
    padding: 4px 8px;
    border-radius: 4px;
    max-width: 45%;
}
.list_messages .message.my .content {
    background-color: #007cfd;
    color: #fff;
    margin-bottom: 10px;
    word-break: break-all;
}
.list_messages .message.my {
    display: flex;
    justify-content: flex-end;
}
.list_messages .message.their .content {
    background-color: #dbdbdb;
}
.chat_container .aside_left {
    width : 15%;
    height : 100%;
    border-right : 1px solid #dbdbdb;
}
.chat_container .aside_left .create_conversation { 
    display : flex ;
    height : 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.chat_container .aside_left .list_conversations .conversation {
    padding : 10px;
    position: relative;
}
.chat_container .aside_left .list_conversations .conversation.current {
    background : #dbdbdb;

}
.chat_container .aside_right {
    border-left: 1px solid #dbdbdb;
    width : 15%;
    padding: 10px;
    
}
.chat_container .aside_right .user_email{
    overflow: hidden; 
    text-overflow: ellipsis;
}
.chat_container .notification {
    position: absolute;
    width: 15px ;
    height: 15px;
    background-color: #007cfd;
    border-radius: 50%;
    top: 15px;
    right: 12px;
    display: none;
}
@media screen and (max-width: 768px) {
    .aside_right {
        display: none;
    }
    .chat_container .conversation_detail {
        width : 85%;
    }
    .chat_container .num_of_user {
        display: none;
    }
    .chat_container .aside_left .list_conversations .conversation {
        height: 64px;
        width : 64px;
        border-radius: 50%;
        padding : 0;
        border: 1px solid #dbdbdb;
        text-align: center;
        line-height: 64px;
        margin : auto;
        margin-bottom: 10px;
    }
    .chat_container .aside_left .list_conversations .conversation:first-child {
        margin-top: 10px;
    }
    .chat_container .notification {
        width: 15px;
        height: 15px;
        top:25px;
        right: 0px;
    }
@media screen and (max-width: 576px) {
    .chat_container .aside_left .list_conversations .conversation {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
    .chat_container .notification {
        width: 12px;
        height: 12px;
        top:13px;
        right: 0px;
    }
}