*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
.input_wrapper input {
    padding:10px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width : 100%;
    outline: none;
}
.input_wrapper {
    margin-bottom: 10px;
}
.form_action {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items : center;
}
.btn {
    padding:8px 20px;
    background: #037bfe;
    color : white;
    border-radius: 5px;
    border-width: 1px;
}
.cursor_pointer {
    cursor: pointer;
}
.error {
    color : red ;
}